.NameContainer, .TypeContainer, .TimeContainer, .ServingsContainer {
	display: block;
    margin: 2px 0 0 0;
}

.NameContainer {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.TypeContainer{ 
	font-size: 18px;
	margin-bottom: 5px;
	font-style: italic;
}

.TimeContainer, .ServingsContainer {
	display: inline;
	margin-left: 5px;
	line-height: 150%;
}

.image {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;	
}

.ListItem {
	margin-top: 5px;
	overflow: hidden;
	background-color: #FFB1A4;
	border: 2px solid #595050;
}

.ImageContainer {
	width: 30vw;
	height: 20vh;
	position: relative;      
	margin-right: 15px;
	float: left;
	background-color: rgba(0,0,0,0.20);
}

.fa-users {
	font-size: 24px;
	float: left;
}

#addButton {
	position: fixed;
	right: 20px;
	bottom: 20px;
}

.material-icons {
	float: right;
	margin-right: 20px;
	font-size: 30px;
}